dnspython
google-search
netaddr
pprint
PyPDF2
pygeoip
scapy
shodan
termcolor
python-whois
bcrypt
cffi
cryptography
paramiko
pycparser
PyNaCl
six
kamene
opencv-python
github3.py
crypto
MechanicalSoup
pexpect
ptyprocess
python-nmap
beautifulsoup4
Pillow
pypdf4
requests
geoip2
dpkt
scapy
IPy
pybluez
certifi
colorama
PySocks
requests-futures
stem
torrequest
pandas
openpyxl
BlueZ
sox
obexftp
libreadline
expat 
pynput
keyboards
gputils
phonenumbers
exif
webeye
pycountry
